@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.s-home {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-b {
  position: absolute;
  background-image: url(/img/background1.jpg);
  background-repeat: no-repeat;
  width: 980px;
  height: 590px;
  margin-left: 47px;
  z-index: 0;
}

.ul-s-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EBEBEB;
  gap: 36px;
  margin-left: 47px;
  padding: 34px 5px;
  width: 815px;
}

.ul-s-home li {
  list-style: none;
  padding-bottom: 5px;
}

.ul-s-home li a {
  text-decoration: none;
  color: #141414;
}

.ul-s-home li:hover {
  -webkit-box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
  color: rgba(50, 50, 50, 0.7215686275);
}

.home-card {
  margin-left: 652px;
  padding-top: 68px;
}

.white-card {
  position: relative;
  background-color: #FFFFFF;
  width: 584px;
  height: 455px;
  z-index: 2;
  padding-left: 68px;
}

.white-card p:nth-of-type(1) {
  color: #99823D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 2.76px;
  padding-top: 67px;
}

.white-card p:nth-of-type(2) {
  color: #141414;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 15px;
}

.white-card h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 67px;
  line-height: 67px;
  padding-bottom: 32px;
}

.white-card button:nth-of-type(1) {
  width: 216px;
  height: 68px;
  border: none;
  background-color: #99823D;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 3px;
  margin-right: 17px;
}

.white-card button:nth-of-type(2) {
  width: 216px;
  height: 68px;
  border: none;
  background-color: #141414;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 3px;
}

.white-card button:hover:nth-of-type(1) {
  -webkit-box-shadow: -5px 6px 6px 0px rgba(0, 0, 0, 0.766);
          box-shadow: -5px 6px 6px 0px rgba(0, 0, 0, 0.766);
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out, -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
}

.white-card button:hover:nth-of-type(2) {
  -webkit-box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.766);
          box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.766);
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out, -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
}

.brown-card {
  position: relative;
  background-color: #99823D;
  width: 489px;
  height: 329px;
  margin-left: 163px;
  margin-top: -261px;
  top: 86px;
  z-index: 1;
}

.s-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 130px;
  padding-left: 100px;
  background-color: #EBEBEB;
}

.box-sa {
  display: block;
}

.box-sa a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 3px;
  color: #99823D;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.box-sa h2 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #141414;
  margin-bottom: 28px;
}

.box-sa p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #141414;
  margin-bottom: 16px;
}

.box-sa p:nth-of-type(2) {
  margin-bottom: 64px;
}

.card-sa {
  gap: 41px;
  margin-left: -530px;
}

.card-sa li {
  list-style: none;
}

.card-sa li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 3px;
  color: #99823D;
  margin-bottom: 11px;
}

.card-sa li p {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #141414;
  margin-bottom: 43px;
}

.card-sa li span {
  margin: 0 17px;
  color: #99823D;
}

.number-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: -110px;
}

.number-item li {
  text-align: center;
  list-style: none;
  padding: 0 69px;
  position: relative;
}

.number-li::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(50% - 57.5px);
  background: #99823D;
}

.number-item li p:nth-of-type(1) {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 59px;
  line-height: 59px;
  color: #141414;
  text-transform: uppercase;
}

.number-item li p:nth-of-type(2) {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3px;
  color: #99823D;
  text-transform: uppercase;
}

.s-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -120px;
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 62px;
}

.design li {
  width: 411px;
  height: 342px;
  list-style: none;
  margin-right: 34px;
}

.design li:nth-of-type(1) {
  background-image: url(/img/background-d-1.jpg);
  background-repeat: no-repeat;
}

.design li:nth-of-type(2) {
  background-image: url(/img/background-d-2.jpg);
  background-repeat: no-repeat;
}

.design li:nth-of-type(3) {
  background-image: url(/img/background-d-3.jpg);
  background-repeat: no-repeat;
}

.design li:nth-of-type(3) h2 {
  margin-left: 2.2px;
}

.design li:nth-of-type(3) p:nth-of-type(1) {
  margin-left: 3px;
}

.design-li p {
  position: absolute;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  z-index: 1;
}

.design-li p:nth-of-type(1) {
  padding: 9px 34px;
  margin-left: 1px;
  background-color: #141414;
}

.design-li p:nth-of-type(2) {
  background-color: #99823D;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 75px;
  width: 204px;
  height: 102px;
  margin-top: 227px;
  margin-left: 207px;
}

.design-li h2 {
  position: relative;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 26px;
  z-index: 2;
  margin-top: 261px;
  width: 378px;
  margin-left: 0.5px;
}

.kybic {
  width: 11px;
  height: 11px;
  background-color: #141414;
  margin-left: auto;
  margin-right: auto;
}

.s-service h2 {
  text-align: center;
  color: #141414;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 53px;
  text-transform: capitalize;
  margin-bottom: 54px;
}

.s-service p:nth-of-type(1) {
  margin-top: 62px;
  text-align: center;
  color: #99823D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
}

.secvices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-card {
  list-style: none;
  width: 391px;
}

.services-card p:nth-of-type(1),
h3 {
  text-align: left;
  margin-left: 85px;
}

.services-card h3 {
  margin-bottom: 27px;
}

.services-card svg {
  position: relative;
  fill: #A68F4B;
  width: 68px;
  height: 68px;
  margin-bottom: -110px;
}

.box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-customers {
  text-align: center;
  width: 392px;
  height: 68px;
  background-color: #99823D;
  color: #FFFFFF;
  border: none;
  margin: 107px 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3px;
}

.all-customers:hover {
  -webkit-box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.766), 0px -1px 6px -2px rgba(0, 0, 0, 0.766);
          box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.766), 0px -1px 6px -2px rgba(0, 0, 0, 0.766);
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out, -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
}

.s-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EBEBEB;
}

.ul-sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ul-sponsor li {
  margin: 68px 0;
  fill: #141414;
  list-style: none;
  gap: 114px;
}

.svg-sponsor {
  width: 153px;
  height: 37px;
  fill: #141414;
}

.sponsor-li::after {
  content: "■";
  color: #99823D;
  margin: 0 53px;
  position: relative;
  top: -13px;
}

.content {
  position: absolute;
  height: 9px;
  left: 23.82%;
  right: 75.56%;
  top: calc(50% - 4.5px + 0.33px);
  background: #99823D;
}

header {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -100px;
}

.nav-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #141414;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 232px;
  padding: 34px 0;
}

.vantage {
  position: absolute;
  fill: #FFFFFF;
  background-color: #99823D;
  width: 326px;
  height: 136px;
  padding: 44px 64px;
  margin-left: -824px;
  cursor: pointer;
  z-index: 1;
}

.heart {
  position: absolute;
  fill: #E63946;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.heart:checked {
  position: absolute;
  fill: #E63946;
  width: 17px;
  height: 17px;
}

.ul-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-left: 75px;
}

.ul-h li {
  list-style: none;
}

.ul-h li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.ul-h li a:hover {
  color: rgba(255, 255, 255, 0.4588235294);
  cursor: pointer;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.ul-h-2 {
  gap: 36px;
  margin-left: 245px;
}

.s-nav {
  background-color: #EBEBEB;
}

.s-nav ul {
  background-color: #3D3D3D;
  height: 272px;
  margin: 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-li {
  list-style: none;
  padding-top: 68px;
  padding-left: 68px;
}

.li-vantage {
  fill: #FFFFFF;
  width: 131px;
  height: 34px;
}

.f-nav {
  margin-left: auto;
}

.ul-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-left: 68px;
}

.ul-f li {
  list-style: none;
  position: relative;
  top: -50px;
}

.ul-f li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.ul-f li a:hover {
  color: rgba(255, 255, 255, 0.4588235294);
  cursor: pointer;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.s-email {
  position: relative;
  padding: 0 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141414;
  z-index: 1;
  margin-top: -100px;
}

.s-email ul {
  background-color: #99823D;
  width: 1168px;
  height: 204px;
  margin-top: -68px;
}

.s-email ul li {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.email {
  width: 500px;
  height: 68px;
  padding-left: 68px;
}

.email::-webkit-input-placeholder {
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
}

.email::-moz-placeholder {
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
}

.email:-ms-input-placeholder {
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
}

.email::-ms-input-placeholder {
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
}

.email::placeholder {
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
}

.email-button {
  width: 155px;
  height: 68px;
  border: none;
  margin-left: 17px;
  background-color: #141414;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
  text-align: center;
}

.email-button:hover {
  -webkit-box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.766), 0px -1px 6px -2px rgba(0, 0, 0, 0.766);
          box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.766), 0px -1px 6px -2px rgba(0, 0, 0, 0.766);
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out;
  transition: box-shadow 250ms linear, transform 300ms ease-out, -webkit-box-shadow 250ms linear, -webkit-transform 300ms ease-out;
}

.s-author {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 136px;
}

.author-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  list-style: none;
  margin-right: auto;
}

.author-ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.author-ul li a:hover {
  -webkit-box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.7);
          box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.7);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.powered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 5px;
}

.powered li p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4588235294);
  text-transform: uppercase;
}

.powered li a {
  font-weight: 400;
  font-size: 11px;
  line-height: 34px;
  letter-spacing: 3px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.powered li a:hover {
  -webkit-box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.7);
          box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.7);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */